.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
__pycache__/
*.py[cod]
*.pyo
*.log
*.tmp
.idea/
.vscode/
.project
.pydevproject
*.sublime-project
*.sublime-workspace
node_modules/
npm-debug.log
yarn-error.log
.env
dist/
build/
*.pot
*.pyc
__pycache__/
db.sqlite3

# Python virtual environment
venv/
ENV/
env/
